

<div>
    {{#if age}}
    <h1>{{message}}</h1>
    {{else}}
    <p>{{message2}}</p>
    {{/if}}


    {{!-- its a opposite of (#if) --}}
    {{#unless age}}
    <p> please come after 18+ </p>
    {{/unless}}

    </div>